<h1>About</h1>

<p>
This is a sample application constructed using <%= link_to "Ruby on Rails", "http://www.rubyonrails.org" %> to extend the <%= link_to "Borrowedhour website", "http://www.borrowedhour.com"%>
</p>